<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<div class="container ">
    <nav class="navbar navbar-expand-xl navbar-light bg-light rounded">
        <th:block th:include="~{/fragments/nav-guest}"></th:block>
    </nav>

    <main class="p-5 align-content-center blur text-danger font-weight-bold">

        <h1 class="text-white text-center font-weight-bold">
            Ops...we could not find the requested resource! </br>
            Sorry, we are working on the problem.
        </h1>
    </main>


</div>

</body>

</html>