<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<div class="container ">
    <nav class="navbar navbar-expand-xl navbar-light bg-light rounded">
        <th:block th:include="~{/fragments/nav-guest}"></th:block>
    </nav>

    <main class="p-5 align-content-center blur">
        Ops...something went wrong! </br>
        We are working on the problem.
    </main>
    <footer class="mastfoot mt-5 text-center text-light">
        <div class="inner">
            <p>Never give up, always get better</a></p>
        </div>
        <i class="fa fa-heart"></i>
    </footer>

</div>

</body>

</html>